@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Sweets and Savories!</h1>
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>